* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "raleway";
  font-weight: 700;
  /* background-image: url("https://i.imgur.com/eh8xlAZ.jpg");
  background-size: cover; */
}
h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff5000;
  color: transparent;
  font-family: impact;
  font-size: 5rem;
 }
 h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff5000;
  color: transparent;
  font-family: impact;
  font-size: 3rem;
 }
 h3 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff5000;
  color: transparent;
  font-family: impact;
  font-size: 2rem;
 }
p {
  font-family: "courier";
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #141311;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  font-family: "impact", sans-serif;
}
a {
  color: #ff5000;
}
a:hover {
  color: #ffb700;
  text-decoration: line-through;
}
.nav a {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff5000;
  color: transparent;
}
.nav :hover {
  text-decoration: line-through;
}
.chat {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60%;
}
.chat,
form {
  width: 80%;
  align-items: center;
  margin-left: 10%;
}
.textTree {
  width: 100%;
}
.mindmap {
  margin-top: 4rem;
  padding: 1rem !important;
}
.chat input {
  width: 100%;
  height: 3rem;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
}

.messages {
  width: 100%;
  margin: 2rem 0;
  font-size: 0.5rem;
}

.chat button {
  height: 3rem;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}

.btn-primary {
  background-color: #ff5000;
  border: 0;
  padding: 0.75rem;
}

.btn-primary:hover {
  background-color: #141311;
}

#add-subject {
  margin: 1rem;
}

.login,
.register {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  margin: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border: 0.075rem solid #141311;
  border-radius: 1.5rem;
}

.login input,
.register input {
  display: flex;
  justify-content: center;
  height: 1.5rem;
  width: 20rem;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
}
.login button,
.register button {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-family: "impact";
  margin: 0 0 1rem 0;
  border: #ff5000 solid 1px;
  border-radius: 1.5rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff5000;
}

.chatBubble {
  list-style: none;
  margin: 0.8rem 0;
  padding: 0.8rem;
  color: #fff;
  width: 50%;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.chatBubble:hover {
  color: #fff;
  text-decoration: none;
}
.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px black solid;
  border-radius: 25px;
}
.messages > .chatBubble:nth-child(odd) {
  background: #ff7400;
  text-align: right;
  align-items: flex-end;
  margin-left: 40%;
}
.messages > .chatBubble:nth-child(even) {
  background: #ffb700;
  text-align: left;
  align-items: flex-start;
  margin-left: 10%;
}

line {
  stroke: #ff7400;
  fill: none;
  stroke-width: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.form-control {
  margin: 0;
}
.form-group {
  padding: 0 !important;
}

input {
  background-color: white;
  border-radius: 1.5rem;
  border: #ff5000 solid 0.5px;
  padding-left: 0.2rem;
}
#send {
  margin: 0 !important;
}

.container {
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
 }

 @keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
 }

 /* Firefox < 16 */
 @-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
 }

 /* Safari, Chrome and Opera > 12.1 */
 @-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
 }

 /* Internet Explorer */
 @-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
 }

 /* Opera < 12.1 */
 @-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
 }
